[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds000030
	datalad-id = 865f2374-8a15-11e8-bc84-0242ac120022
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds000030
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = https://github.com/templateflow/templateflow.git
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
